* {
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair+Display;
}

header h1 {
    font-size: 30px;
}

h1, h2 {
    text-transform: uppercase;
}


/* ------------------- NAVBAR ------------------- */
.nav-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0 10px;
}

.nav-bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 0;
    text-decoration: none;
} 

.nav-bar a:hover {
    background: lavender;
    color: black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.nav-bar ul li {
    margin: 0 50px;
    font-size: 20px;
}

/* -------------------INTRO SECTION ------------------- */

.intro-section {
    margin-top: 47px;
    height: 300px;
}

.intro-section {
    background-color: lavender;
    background-position: center;
   color: darkslategrey;
   font-weight: bold;
}

.intro-section h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
}

.intro-section h2 {
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin: 50px 80px 0 0;
}

.intro-section h3 {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin: 5px 170px;
    padding-bottom: 20px;
}

/* ------BODY--------*/
.content {
    margin: 0 20px;
}

.left-page {
    padding-right: 50px;
    width: 280px;
    border-right: 5px dotted slategray;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-page h2 {
    text-align: center;
}

.about, .projects, .connect {
    margin-bottom: 50px;
}


/* -------ABOUT ME-------- */
.about {
    display: flex;
    flex-wrap: nowrap;
}

.about-con {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.about-img {
    height: 200px;
    margin: 0px 10px;
    
}
 
.about-img img{
    height: 200px;
    border-radius: 25px;
} 

.about p {
    width: 88%;
}

.about .left-page {
    padding-right: 50px;
    width: 307px;
}


/* ---------------------MY PROJECTS SECTION -------------*/

.projects {
    display: flex;
    flex-wrap: nowrap;
}

.proj-container {
    margin: 0 10px;
    width: 88%;
}

.project1, .project1 img {
    background-color: slategray;
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-position: left;
    border-radius: 20px;
}

.project1 img {
    align-items: center;
    margin: 0;
    padding: 10px;
}


.subprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
}

.project2, .project3, .project4, .project5 {
    background-color: slategray;
    height: 100px;
    width: 49.5%;
    border-radius: 20px;
}

/*------LET'S CONNECT ------*/
.connect {
    text-align: left;
    display: flex;
}

.connect .left-page {
    padding-right: 50px;
    width: 307px;
}

.fa {
    padding: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #333;
    color: #6cc644;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-instagram {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    color: white;
}

.connect-links {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* -------FOOTER------ */
footer {
    font-size: 8px;
    display: flex;
    justify-content: center;
    background: #333;
    color: #f2f2f2;
}