* {
    margin: 10px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair+Display;
}

h1, h2 {
    text-transform: uppercase;
}


/* ------------------- NAVBAR ------------------- */
.nav-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0 10px;
}

.nav-bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 0;
    text-decoration: none;
} 

.nav-bar a:hover {
    background: lavender;
    color: black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.nav-bar ul li {
    margin: 0 50px;
}

/* -------------------INTRO SECTION ------------------- */

.intro-section {
    margin-top: 47px;
    height: 300px;
}

.intro-section {
    background-color: lavender;
    background-position: center;
   color: darkslategrey;
   font-weight: bold;
}

.intro-section h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
}

.intro-section h2 {
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin: 50px 80px 0 0;
}

.intro-section h3 {
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin: 5px 120px;
    padding-bottom: 20px;
}

/* ------BODY--------*/
.content {
    margin: 0 20px;
}

.left-page {
    width: 15%;
    border-right: 2px solid slategray;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about, .projects, .connect {
    margin-bottom: 50px;
}


/* -------ABOUT ME-------- */
.about {
    display: flex;
    flex-wrap: nowrap;
}

.about-con {
    display: flex;
    flex-wrap: wrap;
}

.about-img, .about-img img{
    height: 200px;
    margin: 0px 10px;
}

.about p {
    width: 88%;
}



/* ---------------------MY PROJECTS SECTION -------------*/

.projects {
    display: flex;
    flex-wrap: nowrap;
}

.proj-container {
    margin: 0 10px;
    width: 88%;
}

.project1 {
    background-color: slategray;
    height: 200px;
    width: 100%;
}

.subprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.project2, .project3, .project4, .project5 {
    background-color: slategray;
    height: 100px;
    width: 49.5%;
    
}

/*------LET'S CONNECT ------*/
.connect {
    text-align: left;
}
/* -------FOOTER------ */
footer {
    font-size: 8px;
    display: flex;
    justify-content: center;
}